
.first{
height: 100%;
width: 100%;
background-color: #D8D8D8;

}

body {
margin-top: 0;
margin-bottom: 0;
margin-left: 12.5%;
margin-right: 12.5%;
	background-color: white;
}

header{
height: 17.5%;
background-color: 444444;

}

footer{
position : absolute;
    bottom : 0;
    width:56.25%;
height: 8%;
background-color: black;
}

.second{
	height: 80%;
	margin-top: 0;
	margin-left: 12.5%;
	margin-right: 12.5%;
	background-color: white;
}